<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh">
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8"/>
    <title>答题界面</title>
    <link rel="stylesheet" href="/css/answerPage.css">
</head>
<body style="background-color: #FFFFFF">
<div class="top">
    <div class="top_content">
        <h2 class="questionType">必答题</h2>

        <p class="userActive">用时:
            ; 剩余题目数量: ;</p>
    </div>
</div>

<div class="daohang">
    <ul>
        <li><a href="#q1">01</a> <a href="#q2">02</a></li>
        <li><a href="#q3">03</a> <a href="#">04</a></li>
        <li><a href="#">05</a> <a href="#">06</a></li>
        <li><a href="#">07</a> <a href="#">08</a></li>
        <li><a href="#">09</a> <a href="#">10</a></li>
        <li><a href="#">11</a> <a href="#">12</a></li>
        <li><a href="#">13</a> <a href="#">14</a></li>
        <li><a href="#">15</a> <a href="#">16</a></li>
        <li><a href="#">17</a> <a href="#">18</a></li>
        <li><a href="#">9</a> <a href="#">20</a></li>
    </ul>
</div>

<form action="RecordAndRead">
    <div class="body">
        <!--<div class="body_img"></div>-->
        <div class="body_content">
            <a class="question" name="q1" id="q1">
                <span class="placeholder"></span>
                <p th:text="${choicequestion.getQuestion()}"></p>
            </a>

            <div class="Option">
                <input type="radio" value="A" th:text="'A.'+ ${choicequestion.getChoicea()}" th:name="${choicequestion.getId()}"><br/>
                <input type="radio" value="B" th:text="'B.'+ ${choicequestion.getChoiceb()}" th:name="${choicequestion.getId()}"><br/>
                <input type="radio" value="C" th:text="'B.'+ ${choicequestion.getChoiceb()}" th:name="${choicequestion.getId()}"><br/>
                <input type="radio" value="D" th:text="'B.'+ ${choicequestion.getChoiceb()}" th:name="${choicequestion.getId()}"><br/>
            </div>
        </div>
        <div class="footing">
            <input type="submit" value="确认提交">
        </div>
    </div>

</form>
<!--<div class="footing">
    <div class="footing_content"></div>
    <div class="footing_subnav"></div>
</div>-->
</body>
</html>